{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container h-100 d-flex justify-content-center">
        <div class="my-auto row">
            <div class="col-12" data-aos="fade-up" data-aos-duration="2000">
                <a href="https://gogreenbabies.com/" target="_blank"><img src="{{ MEDIA_URL }}Logo.png" alt="brand-logo"></a>
                <ul class="list-inline text-center">
                    <li class="list-inline-item lead border-end pe-1 me-0"><a href="{% url 'upload_login' %}" class="btn">Upload Video</a></li>
                    <li class="list-inline-item lead ps-0"><a href="#" class="btn">View Video</a></li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}