{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'upload/css/spinners.css' %}">
{% endblock %}

{% block extra_title %}
    - Home
{% endblock %}

{% block content %}

    <div class="container h-100 d-flex justify-content-center">
        <div class="my-auto row card shadow" data-aos="fade-up" data-aos-duration="2000">
            <!-- Preview display of currently uploaded video -->
            {% if video.video %}
                <div class="col-12 mx-auto">
                    <h3 class="text-center">
                        Preview
                    </h3>
                    <hr class="w-50 mx-auto mt-0">
                    <div class="ratio ratio-16x9 preview mb-3 mx-auto">
                        <video controls>
                            <source src="{{ MEDIA_URL }}{{ video.video }}">
                            I'm sorry; your browser doesn't support HTML5 video.
                        </video>
                    </div>
                </div>
            {% else %}
                <div class="col-12 mx-auto mt-2">
                    <h3 class="text-center">
                        Upload Your Video
                    </h3>
                    <hr class="w-50 mx-auto mt-0">
                </div>
            {% endif %}
            <!-- Mobile upload/record options -->
            <div class="col-12 d-lg-none my-2" data-aos="fade-up">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-upload-tab" data-bs-toggle="tab" data-bs-target="#nav-upload" type="button" role="tab" aria-controls="nav-upload" aria-selected="true">Upload/Record Video</button>
                    </div>
                </nav>

                <div class="tab-content border border-top-0 p-1" id="nav-tabContent">
                    <div class="tab-pane fade show active mt-2" id="nav-upload" role="tabpanel" aria-labelledby="nav-upload-tab">
                        <form action="{% url 'upload_video' video.id %}" method="POST" enctype="multipart/form-data" class="upload-form">
                            {% csrf_token %}
                            <div class="mb-3">
                                <input type="file" class="form-control" name="video" id="id_video" accept="video/*" required>
                            </div>
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-bg-custom rounded-pill btn-animate btn-upload-form"><span class="spinner-loader d-none"></span> Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Desktop upload/record tool-->
            <div class="col-12 d-none d-lg-block preview mx-auto m-3">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-upload-desktop-tab" data-bs-toggle="tab" data-bs-target="#nav-upload-desktop" type="button" role="tab" aria-controls="nav-upload-desktop" aria-selected="true">Upload Video</button>
                        <button class="nav-link" id="nav-record-desktop-tab" data-bs-toggle="tab" data-bs-target="#nav-record-desktop" type="button" role="tab" aria-controls="nav-record-desktop" aria-selected="false">Recording tool</button>
                    </div>
                </nav>
                <div class="tab-content border border-top-0 p-1" id="nav-tabContent">
                    <div class="tab-pane fade show active mt-2" id="nav-upload-desktop" role="tabpanel" aria-labelledby="nav-upload-tab">
                        <form action="{% url 'upload_video' video.id %}" method="POST" enctype="multipart/form-data" class="upload-form">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-bg-custom rounded-pill btn-animate btn-upload-form"><span class="spinner-loader d-none"></span> Submit</button>
                            </div>
                        </form>
                    </div>
                    <!-- Webcam display/preview display -->
                    <div class="tab-pane fade" id="nav-record-desktop" role="tabpanel" aria-labelledby="nav-record-desktop-tab">
                        <div class="ratio ratio-16x9 recording mb-3 mx-auto" style="display: none;">
                            <video id="gum" playsinline autoplay muted></video>
                        </div>
                        <div class="ratio ratio-16x9 recording mb-3 mx-auto" style="display: none;">
                            <video id="recorded" playsinline></video>
                        </div>
                        <!-- Recording tools -->
                        <div class="row">
                            <div class="col-12">
                                <div class="my-3 text-center">
                                    <button type="button" id="start" class="btn btn-bg-custom rounded-pill btn-animate m-1">Start camera</button>
                                    <button id="record" type="button" class="btn btn-bg-custom rounded-pill btn-animate m-1" disabled>Start Recording</button>
                                    <button id="play" type="button" class="btn btn-bg-custom rounded-pill btn-animate m-1" disabled>Play</button>
                                    <button id="download" type="button" class="btn btn-bg-custom rounded-pill btn-animate m-1" data-order_number="{{ video.order_number }}" disabled>Download</button>
                                </div>
                            </div>
                            <div class="col-12">
                                <p class="text-lead">
                                    *We recommend you use a mobile device to upload your video
                                    <br>
                                    <br>
                                    <strong>Instructions for uploading through desktop:</strong>
                                    <br>
                                    If you are still to record your video you can do this through our recording function.
                                    <br>(Your device must have a camera to use the "Record Video" Tab)
                                </p>
                                <ul class="list-unstyled list-group-numbered">
                                    <li>Click the "Record Video" Tab</li>
                                    <li>When ready Hit "Start Recording"</li>
                                    <li>When finished Click "Stop Record"</li>
                                    <li>You will have the option to preview your video before submitting</li>
                                    <li>Once you are happy with your video</li>
                                    <li>Click "Download"</li>
                                    <li>Go back to the "Upload Video" Tab</li>
                                    <li>Click "Upload"</li>
                                    <li>Select your video from the "Downloads" folder or where you normally save your downloaded files</li>
                                    <li>Click Submit once the video has finished uploading</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block postloadjs %}

    {{ block.super }}
    <!-- include adapter for srcObject shim -->
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script src="{% static 'upload/js/main.js' %}" async></script>

{% endblock %}