{% extends 'base.html' %}
{% block extra_title %}
    - Upload Login
{% endblock %}
{% block content %}
    <!-- Login form -->
    <div class="container h-100 d-flex justify-content-center">
        <div class="my-auto row">
            <div class="col-12" data-aos="fade-up" data-aos-duration="2000">
                <form class="card p-3 upload-form rounded-0 shadow" method="POST" action="{% url 'upload_login' %}">
                    <h5 class="text-center">
                        Please enter details to upload a video.
                    </h5>
                    <hr class="mt-0">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div id="keywordHelpBlock" class="form-text mb-3">
                        Enter or create a keyword, if this is your first time (This keyword is used to ensure your video is secure).
                    </div>
                    <button type="submit" class="btn btn-bg-custom rounded-pill btn-animate w-50 mx-auto">Submit</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}