{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container h-100 d-flex justify-content-center">
        <div class="my-auto row">
            {% if video.video %}
                <div class="col-12 mx-auto">
                    <h3 class="text-center">
                        Preview
                    </h3>
                    <hr class="w-50 mx-auto mt-0">
                    <div class="ratio ratio-16x9 preview mb-3 mx-auto">
                        <video controls>
                            <source src="{{ MEDIA_URL }}{{ video.video }}">
                            I'm sorry; your browser doesn't support HTML5 video.
                        </video>
                    </div>
                </div>
            {% endif %}
            <div class="col-12 d-md-none" data-aos="fade-up" data-aos-duration="2000">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-upload-tab" data-bs-toggle="tab" data-bs-target="#nav-upload" type="button" role="tab" aria-controls="nav-upload" aria-selected="true">Upload/Record Video</button>
                    </div>
                </nav>

                <div class="tab-content border border-top-0 p-1" id="nav-tabContent">
                    <div class="tab-pane fade show active mt-2" id="nav-upload" role="tabpanel" aria-labelledby="nav-upload-tab">
                        <form action="{% url 'upload_video' video.id %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="mb-3">
                                <input type="file" class="form-control" name="video" id="id_video" accept="video/*" required>
                            </div>
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-sm btn-primary rounded-0">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 d-none d-md-block preview mx-auto" data-aos="fade-up" data-aos-duration="2000">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-upload-desktop-tab" data-bs-toggle="tab" data-bs-target="#nav-upload-desktop" type="button" role="tab" aria-controls="nav-upload-desktop" aria-selected="true">Upload Video</button>
                        <button class="nav-link" id="nav-record-desktop-tab" data-bs-toggle="tab" data-bs-target="#nav-record-desktop" type="button" role="tab" aria-controls="nav-record-desktop" aria-selected="false">Recording tool</button>
                    </div>
                </nav>
                <div class="tab-content border border-top-0 p-1" id="nav-tabContent">
                    <div class="tab-pane fade show active mt-2" id="nav-upload-desktop" role="tabpanel" aria-labelledby="nav-upload-tab">
                        <form action="{% url 'upload_video' video.id %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-sm btn-primary rounded-0">Submit</button>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="nav-record-desktop" role="tabpanel" aria-labelledby="nav-record-desktop-tab">
                        <div class="ratio ratio-16x9 recording mb-3 mx-auto" style="display: none;">
                            <video id="gum" playsinline autoplay muted></video>
                        </div>
                        <div class="ratio ratio-16x9 recording mb-3 mx-auto" style="display: none;">
                            <video id="recorded" playsinline></video>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="my-3 text-center">
                                    <button type="button" id="start" class="btn btn-sm btn-dark rounded-0 m-1">Start camera</button>
                                    <button id="record" type="button" class="btn btn-sm btn-dark rounded-0 m-1" disabled>Start Recording</button>
                                    <button id="play" type="button" class="btn btn-sm btn-dark rounded-0 m-1" disabled>Play</button>
                                    <button id="download" type="button" class="btn btn-sm btn-dark rounded-0 m-1" data-order_number="{{ video.order_number }}" disabled>Download</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block postloadjs %}

    {{ block.super }}
    <!-- include adapter for srcObject shim -->
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script src="{% static 'upload/js/main.js' %}" async></script>

{% endblock %}